/* Developers:
first_name:  Oshri  | last_name: Moalem  | id:   316125277    
first_name: Elinor | last_name: Zalogin | id:   208324863 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Sets the default colors */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #333;
}
